legacy-peer-deps=true
@rippling:registry=https://npm.pkg.github.com
@Rippling:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
# GitHub token must be set in Vercel environment variables
